#  All functions exported other than those starting with "."
exportPattern("^[^\\.]")

import(limma, tcltk, R2HTML, xtable)

importFrom("grDevices", "bitmap", "col2rgb", "dev.off", "dev.print",
           "jpeg", "pdf", "png", "postscript", "rainbow", "rgb")
if( tools:::.OStype() == "windows" ) importFrom("grDevices", "bringToTop")

importFrom("graphics", "abline", "boxplot", "grid", "image", "legend",
           "lines", "par", "plot", "plot.new", "points", "rect",
           "text", "title")

importFrom("methods", "new")

importFrom("tkrplot", "tkrplot", "tkrreplot")

importFrom("utils", "browseURL", "citation", "help", "help.start",
           "read.table", "write.table")
if( tools:::.OStype() == "windows" ) importFrom("utils", "winMenuAdd", "winMenuAddItem")
